<footer id="contact">
	<div class="wrapper">
		<div class="text">
			<h2><span class="am-left"><strong>1</strong><span>AM</span></span>, protože<br>
			<strong class="highlighted">naše spolupráce</strong><br /> může začít i v jednu v noci</h2>
		</div>
		<div class="contact">
			<h3>dejte nám o sobě vědět</h3>
			<a href="mailto:info@oneam.cz">info@oneam.cz</a>
			<span>+420 606 351 066</span>
		</div>
		<div class="statement">
			<a href="/#home" class="not-textlink"><img src="{{ "assets/img/1am-logo.gif" | relative_url }}" width="90" alt="one AM" /></a>
			<ul>
				<li>© 2020 1AM marketing <span style="display: none">/</span></li>
				<li style="display:none"><a href="#">podmínky používání</a></li>
			</ul>
		</div>
	</div>

	<p id="cookies" style="display: none;">
		Používáme cookies. <button class="cookie-button-agree">rozumím</button>
	</p>
</footer>

<script src="{{ "assets/js/fade.js" | relative_url }}"></script>
<script src="{{ "assets/js/js.cookie.min.js" | relative_url }}"></script>
<script src="{{ "assets/js/main.js" | relative_url }}"></script>
