<header>
	<nav id="page-nav">
		<label for="hamburger" id="hamicon">&#9776;</label>
		<input type="checkbox" id="hamburger"/>

		<a href="/#home" class="smooth home not-textlink"><img src="{{ "assets/img/logo-green.svg" | relative_url }}" alt="" /></a>

		<menu class="navbar-collapse">
			<li><a href="/#service" class="smooth">s čím pomůžeme</a></li>
			<li><a href="/#how-we-work" class="smooth">jak fungujeme</a></li>
			<li><a href="/#clients" class="smooth">reference</a></li>
			<li><a href="/#team" class="smooth">lidé</a></li>
			<li><a href="/blog/" class="smooth">blog</a></li>
			<li class="mobile-contact">+420 606 351 066 <br /> <a href="mailto:info@oneam.cz">info@oneam.cz</a></li>
		</menu>

		<ul class="contact">
			<li>+420 606 351 066</li>
			<li><a href="mailto:info@oneam.cz">info@oneam.cz</a></li>
		</ul>
	</nav>
</header>
